<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iruss.mogivisions.procrastimatev1">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/settingTheme" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" >
            <intent-filter android:autoVerify="true" >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://www.procrastimate.tech” -->
                <data android:scheme="http"
                    android:host="www.procrastimate.tech"
                    android:pathPrefix="/"
                    />
                <!-- note that the leading "/" is required for pathPrefix-->
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://www.procrastimate.tech” -->
                <data android:scheme="http"
                    android:host="www.procrastimate.tech"
                    />
                <!-- note that the leading "/" is required for pathPrefix-->
            </intent-filter>
        </activity>

        <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <service
            android:name="com.iruss.mogivisions.kiosk.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        <service
            android:name="com.iruss.mogivisions.kiosk.DelayService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        <service android:name="com.iruss.mogivisions.kiosk.KioskService" />
        <service android:name="com.iruss.mogivisions.kiosk.BroadcastService"/>
        <activity
            android:name="com.iruss.mogivisions.statistics.StatisticsActivity"
            android:label="Statistics"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/statisticsTheme" />
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="view.DeckListActivity"
            android:screenOrientation="portrait"
            android:label="StackSRS"
            android:theme="@style/flashcardsTheme"
            android:parentActivityName=".HomeActivity"
            >
        </activity>
        <activity
            android:name="view.ReviewActivity"
            android:theme="@style/flashcardsTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="view.DeckDownloadActivity"
            android:theme="@style/flashcardsTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="view.DeckBrowserActivity"
            android:theme="@style/flashcardsTheme"
            android:screenOrientation="portrait"/>
    </application>

</manifest>